/* 폰트 선언 */
@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SpoqaHanSansNeo-bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 컬러, 폰트 지정 */
:root {
  --point-color : #D97652;
  --header-bg-color : #F2E9D8;
  --main-font : 'SpoqaHanSansNeo-Regular';
  --main-font-bold : 'SpoqaHanSansNeo-bold';
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
a, button { cursor: pointer; }

.pc-modal {
  display: none;
}

* {font-family: var(--main-font);}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-wrap {
  background-color: var(--header-bg-color);
  width: 1920px;
  height: 900px;
  overflow: hidden;
  margin-bottom: 80px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
  display: flex;
  width: 1280px;
  height: 102px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.head-logo {
  width: 130px;
  height: 40px;
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu li:not(:nth-child(4)) {
  margin-left: 30px;
}
.down-btn {
  display: block;
  margin-left: 40px;
  background-color: var(--point-color);
  padding: 15px 30px;
  border-radius: 40px;
  color: #fff;
  font-weight: bold;
}

header section {
  display: flex;
  width: 1280px;
  /* height: 900px; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.head-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  transform: translate(0, -30%);
}
.head-text p:nth-child(1) {
  font-size: 48px;
  font-family: var(--main-font-bold);
  font-weight: normal;
}
.head-text p:nth-child(2) {
  font-size: 16px;
}
.head-text a {
  display: inline-block;
  background-color: var(--point-color);
  padding: 15px 30px;
  border-radius: 40px;
  color: #fff;
  text-align: center;
  width: fit-content;
}

header section img {
  width: 415px;
  height: 890px;
}

main {
  margin-bottom: 45px;
}
main .main-head {
  display: flex;
  gap: 110px;
  justify-content: center;
  margin-bottom: 120px;
}
.main-head img {
  width: 660px;
  height: 390px;
  border-radius: 30px;
  box-shadow: 10px 10px 30px 0px #00000040;
  object-fit: cover;
}
.main-head-text p:nth-child(1) {
  font-size: 36px;
  font-family: var(--main-font-bold);
}
.main-head-text p:nth-child(2) {
  font-size: 16px;
}
.main-head-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.main-body {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-bottom: 90px;
}

.main-body-text p:nth-child(2){
  font-family: var(--main-font-bold);
  color: var(--point-color);
  font-size: 48px;
  margin-bottom: 40px;
  text-align: center;
}
.main-body-text p:nth-child(3){
  font-size: 16px;
  text-align: center;
}
.main-body-text p span{
  color: var(--point-color);
  font-family: var(--main-font-bold);
}

.main-body-text {
  margin-bottom: 88px;
}
.image-box ul{
  display: flex;
  flex-direction: row;
  gap: 72px;
}
.image-box img{
  width: 378px;
  height: 378px;
  border-radius: 30px;
  box-shadow: 10px 10px 30px 0px #00000040;
}

.main-foot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 52px;
  margin-bottom: 196px;
}
.main-foot p {
  font-size: 16px;
}
.main-foot a {
  width: 147px;
  background-color: var(--point-color);
  padding: 15px 30px;
  border-radius: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
}
.main-img-bg {
  position: relative;
  width: 1920px;
  height: 340px;
  display: flex;
  justify-content: center;
  background-image: url('./image/img_5.jpg');
  background-size: 1920px;
  background-position: center 36.5%;
}
.main-img-bg::before {
  content: '';
  position: absolute;
  background-color: #F2E9D899;
  inset: 0; /* top, bottom, left, right 한번에 지정 */
}
.sub-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 143px;
  background-color: #263140;
  z-index: 1;
  width: 1280px;
  height: 200px;
  border-radius: 30px;
  justify-content: space-between;
  padding: 0px 58px;
  transform: translate(0px, -50%);
}
.sub-text p:nth-child(1) {
  color: #fff;
  font-family: var(--main-font-bold);
  font-size: 36px;
  margin-bottom: 18px;
}
.sub-text p:nth-child(2) {
  color: #fff;
  font-size: 14px;
}
.email-form {
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  gap: 129px;
}
.email-input {
  display: flex;
  gap: 16px;
  margin-left: 30px;
}
.email-input img {
  display: block;
  width: 20px;
  height: 16px;
  align-self: center;
}
.email-form button {
  background-color: var(--point-color);
  padding: 15px 30px;
  border-radius: 40px;
  color: #fff;
  margin: 5px;
}
.footer-wrap {
  margin: 0 auto;
}
footer {
  width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 45px;
}
footer ul {
  display: flex;
  gap: 20px;
}
footer ul li {
  width: 42px;
  height: 42px;
  background-color: #F29D52;
  padding: 9px;
  border-radius: 100%;
}

.floating-btn {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #C4C4C4;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 100px;
  right: 100px;
}
.floating-btn:hover img {
  filter: brightness(0.5);
}

